<% include ./partials/header.ejs %>
<div class="main">
<div class="container">
  <h2>Welcome to Pinterest</h2>
  <form class="form" action="/login" method="post">
<input type="text" name="username" placeholder="username">

<input type="password" name="password" placeholder="password">
<button id="ragister-btn">login</button>
</form>
<a class="Forgot-password">Forgot password</a>
<a href="/register">Register</a>
</div>
</div>
<% include ./partials/footer.ejs %>
  
